/* Esquema de cores
    Principal/Fundo: 4B9130
    1a: A5DA91
    2a: 73B55B
    3a: 2B6D12
    4a: 144900

*/

/* Limpar toda formatação pré-definida */
* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #4B9130;
}

#boasvindas {
    font-family: Helvetica;
    color: #a5c898;
}

body {
    padding: 25px;
    background-color: (--background-color-light);
    color: (--text-color-light);
    font-size: 25px;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

article {
    padding: 10px;
    box-shadow: #000000;
}

article:hover {
    background-color: #ccc;
}

nav {
    display: block;
}

.navMenu {
    background-color: #A5DA91;
    display: flex;
    justify-content: space-around;
}

.navBar {
    padding: 25px;
    display: inline-flex;
    float: left;
    background-color:#A5DA91;
    color: #2B6D12;
    font-family: Helvetica;
    text-decoration: none;
}

.navBar:hover {
    background-color: #2B6D12;
    color: #A5DA91;
}

.navLogin {
    display: flex;
    justify-content: right;
    margin: 20px;
    padding: 10px;
}

.navLink {
    all: none;
}

.cardCurso {
    display: inline-flex;
}


.footer-text {
    font-size: x-small;
    text-align: center;
}

aside {
    border-style: solid;
    border-width: 1px;
    width: 15%;
    height: 1080px;
    float: left;
}