/* Esquema de cores
    Principal/Fundo: 4B9130
    1a: A5DA91
    2a: 73B55B
    3a: 2B6D12
    4a: 144900

*/
.grid {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 30% 200px auto;
    grid-gap: 1em;
  }
  
  .grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header,
  nav,
  article,
  aside,
  footer {
    background: lightgray;
    padding: 1em;
  }
  
  header,
  footer {
    grid-column: 1 / 4;
  }
  
  article {
    min-width: 15em;
  }
  