/* Esquema de cores
    Principal/Fundo: 4B9130
    1a: A5DA91
    2a: 73B55B
    3a: 2B6D12
    4a: 144900

*/
/* 
.grid {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: 30% 200px auto;
  grid-gap: 1em;
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
} */
  
body > * {
  justify-content: center;
  padding: 0 20%;
  background-color: goldenrod;
}

header,
nav,
article,
aside,
footer {
  background: #4B9130;
  padding: 1em 0 1em 0;
}

header,
footer > * {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.menuSuperior {
  width: 100%;
  align-self: center;
  background-color: #73B55B;
  margin: auto;
  padding: 0;
}

.menuSuperiorItem {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  display: inline-flex;
  width: 15%;
  padding: 10px;
  justify-content: center;
}

.menuSuperiorItem:hover {
  background-color: #A5DA91;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #000000;
}

main {
  background-color: #4B9130;
  padding: 1em;
}

.cartao {
  list-style-type: none;
  padding: 1em;
  width: 80%;
  justify-content: center;
}

.cartao:hover {
  background: #A5DA91;
}

.formulario {
  width: 70%;
  text-align: center;
  background-color: #73B55B;
  margin: auto;
  padding: 2%;
}

.botaoenviar {
  padding: 10px;
  margin: auto;
  font-style: italic;
  background: #4B9130;
}

.conteudo {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  margin: auto;
  width: 80%;
  text-align: justify;
  justify-content: center;
  background-color: #73B55B;
}

.quemsomos {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  margin: auto;
  width: 80%;
  text-align: justify;
  justify-content: center;
  background-color: #73B55B;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}